.p404 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FF6060;
}

.page404 h1 {
    font-size: 288px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.page404 p {
    font-size: 36px;
}

.link {
    display: flex;
    color: #FF6060;
    justify-content: center;
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 30px;
}

@media (max-width: 375px) {
    .page404 h1 {
        font-size: 96px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .page404 p {
        font-size: 18px;
        font-weight: 500;
    }
    .link {
        margin-top: 70px;
        margin-bottom: 20px;
        font-size: 14px;
    }
}