.pageInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactPage {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 0;
}

.contactDiv  p{
    margin: 0;
    transform: translateY(50px);
    opacity: 0;
    animation: entrance-effect 3000ms forwards;
}

.contactDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.buttonContact {
    padding: 10px 40px;
    color: white;
    background: rgb(234,197,113);
    background: linear-gradient(120deg, rgba(234,197,113,1) 3%, rgba(231,161,114,1) 22%, rgba(218,117,51,1) 39%, rgba(116,116,125,1) 58%, rgba(86,96,111,1) 76%, rgba(32,54,65,1) 89%);
    border-radius: 15px;
    border: none;
    margin: 20px 0;
    transform: translateY(50px);
    opacity: 0;
    animation: entrance-effect 4000ms forwards;
}

.boutonMail{
    margin-top: 20px;
    text-align: center;
}

button {
    font-size: 14px;
}

@keyframes entrance-effect {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}


