.collapseFermé p {
    background-color: rgba(218,117,51,1);
    border-radius: 5px;
    color: white;
    margin-top: -10px;
    padding: 20px 20px 4px 20px;
    font-size: 16px;
    position: relative;
    z-index: 1;
    width: 760px;
    text-align: center;
    line-height: 25px;
}

/*.collapseFermé ul {
    background-color: rgba(218,117,51,1);
    border-radius: 5px;
    color: white;
    margin-top: 0;
    padding: 10px 10px 10px 10px; 
    font-size: 14px;
    position: relative;
    z-index: 1;
    list-style-type:none;
    width: 600px;
}
*/

.container {
    height: 50px;
    background-color: white;
    color: rgba(218,117,51,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding:10px 0px;
    position: relative;
    z-index: 2;
    border: solid rgba(218,117,51,1);
    width: 797px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    transform: translateY(30px);
    opacity: 0;
    animation: entrance-effect 1000ms forwards;
}

.container h3 {
    font-size: 20px;
    text-align: center;
    flex: 1;
    padding-left: 40px;
}

.container img {
    height: 30px;
    padding-right: 10px;
}

@media (max-width: 375px) {
    .container {
        height: 30px;
        border-radius: 5px;
        margin: 10px 0px;
        padding:5px 0px;
        width: 297px;
    }
    
    .container h3 {
        font-size: 13px;
        padding-left:10px;
    }
    
    .container img {
        height: 9.14px;
        padding-right:10px;
    }

    .collapseFermé p {
        margin-top: -15px;
        padding-top: 30px;
        font-size: 12px;
        width: 260px;
    }

    .collapseFermé ul{
        font-size: 12px;
        padding-top: 30px;
        margin-top: -15px;
        width: 260px;
    }
}

@keyframes entrance-effect {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}


@media screen and (max-width:767px){
    .container {
        height: 70px;
        margin: 5px 0px;
        padding:5px 0px;
        width: 597px;
    }

    .collapseFermé p {
        margin-top: -20px;
        padding-top: 30px;
        font-size: 18px;
        width: 560px;
    }

    .collapseFermé ul{
        font-size: 12px;
        padding-top: 30px;
        margin-top: -20px;
        width: 560px;
    }
}


@media screen and (max-width:600px){
    .container {
        height: 70px;
        margin: 5px 0px;
        padding:5px 0px;
        width: 347px;
    }

    .collapseFermé p {
        margin-top: -20px;
        padding-top: 30px;
        font-size: 18px;
        width: 310px;
    }

    .collapseFermé ul{
        font-size: 12px;
        padding-top: 30px;
        margin-top: -20px;
        width: 310px;
    }
}