.pageFormulaire{
    display: flex;
    justify-content: space-around;
}

.formulaire { 
    max-width: 600px; 
    text-align: center; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0;
} 

.champMail, .champNom, .champObjet { 
    border: 0; 
    outline: 0; 
    border-radius: 8px; 
    height:20px;
    width:100%;
    padding: 10px 0;
    margin: 10px 0;
    text-indent: 10px;
} 

.message { 
    border: 0; 
    outline: 0; 
    padding: 10px 0; 
    border-radius: 8px; 
    width:100%;
    height:200px;
    margin: 10px 0;
    text-indent: 10px;
} 

.boutonEnvoyer { 
    color: white; 
    background: rgba(218,117,51,1);
    text-align: center;
    padding: 20px 0;
    height: 30px;
    border: 0; 
    outline: 0; 
    border-radius: 8px; 
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.boutonEnvoyer:hover { 
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2); 
} 

