.formulaire { 
    max-width: 600px; 
    text-align: center; 
    margin: 20px auto; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} 

.champMail, .champNom, .boutonEnvoyer { 
    border: 0; 
    outline: 0; 
    padding: 10px; 
    border-radius: 8px; 
    width:600px;
    height:20px;
    margin: 10px 0;
} 


.message { 
    border: 0; 
    outline: 0; 
    padding: 10px; 
    border-radius: 8px; 
    width:600px;
    height:100px;
    margin: 10px 0;
} 

.boutonEnvoyer { 
    color: white; 
    background: rgba(218,117,51,1);
    text-align: center;
} 

.boutonEnvoyer:hover { 
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2); 
} 

