.carteGoogle{
    display: flex;
    justify-content: center;
}

.contentDescription{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infos{
    display: flex;
    justify-content: center;
    margin:5px 0;
}

.infosTitre{
    padding:5px 0;
}

.content{
    z-index: auto;
}

/* Google*/
.contactGoogle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    width:600px;
}

.Google{
      width:100%;
      height:450px;
      border-color:rgba(218,117,51,1);
      display: flex;
      justify-content: center;
      border-radius: 10px;
}