.unavailable {
  background-color: #4CAF50; /* Vert */
  color: #fff; /* Texte blanc */
}

/* Pour les dates indisponibles (rouges) */
.available {
  background-color: #F44336; /* Rouge */
  color: #fff; /* Texte blanc */
}

.locked {
  background-color: #4CAF50;
  color: white;
  cursor: not-allowed;
}