.photosGal{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.galeriePhoto{
    display: flex;
    flex-direction: column;
    padding: 2px;
    background: #f1f1f1;
    border-radius: 10px;
}

h1 {
    color: rgba(86,96,111,1);
    text-align: center;
}

.photo{
    object-fit:cover;
    margin:2px;
    border-radius: 10px;
}

.galeriePhoto1{
    display: flex;
    justify-content: center;
    max-width: 1006px;
    max-height: 500px;
}

.photo1{
    max-width: 498px;
    max-height: 500px;
}

.photo2{
    max-width: 498px;
    max-height: 500px;
}

.galeriePhoto2{
    display: flex;
    justify-content: center;
    max-width: 1006px;
    max-height: 500px;
}

.photo3{
    width: 300px;
    height: 400px;
}

.photo5{
    width: 698px;
    height: 400px;
}

.galeriePhoto3{
    display: flex;
    justify-content: center;
    max-width: 1006px;
    max-height: 500px;
}

.photo4{
    max-width: 499px;
    max-height: 500px;
}

.photo6{
    max-width: 499px;
    max-height: 500px;
}

.galeriePhoto4{
    display: flex;
    justify-content: center;
    max-width: 1006px;
    max-height: 500px;
}

.galeriePhoto5{
    display: flex;
    flex-direction: column;
}

.photo7{
    width: 700px;
    max-height: 245px;
}

.photo8{
    width: 700px;
    max-height: 245px;
}

.photo9{
    max-width: 298px;
    height: 498px;
}

.texteGaleriePhoto4{
    display: flex;
    justify-content: space-around;
}

.texteGaleriePhoto4-1{
    width: 700px;
}
.texteGaleriePhoto4-2{
    width: 298px;
}


.photo:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 3.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width:768px){
  .texteGaleriePhoto4-3{
    display: none;
  }
}

@media screen and (max-width:767px){
    h2{
        font-size: 12px;
    }
    .galeriePhoto{
        width: 600px;
        justify-content: center;
    }

    .galeriePhoto1{
        max-width: 600px;
        max-height: 500px;
        text-align: center;
    }
    
    .photo1{
        max-width: 248px;
        max-height: 250px;
    }
    
    .photo2{
        max-width: 248px;
        max-height: 250px;
    }
    
    .galeriePhoto2{
        max-width: 600px;
        max-height: 500px;
        text-align: center;
    }
    
    .photo3{
        width: 250px;
        height: 200px;
    }
    
    .photo5{
        width: 250px;
        height: 200px;
    }
    
    .galeriePhoto3{
        max-width: 600px;
        max-height: 500px;
        text-align: center;
    }
    
    .photo4{
        max-width: 248px;
        max-height: 250px;
    }
    
    .photo6{
        max-width: 248px;
        max-height: 250px;
    }
    
    .galeriePhoto4{
        max-width: 600px;
        max-height: 500px;
        text-align: center;
    }
    .galeriePhoto5{
        max-width: 352px;
    }
    
    .photo7{
        width: 350px;
        max-height: 120px;
    }
    
    .photo8{
        width: 350px;
        max-height: 120px;
    }
    
    .photo9{
        height: 250px;
    }
    
    .texteGaleriePhoto4-1{
        width: 398px;
    }
    .texteGaleriePhoto4-2{
        width: none;
    }
}


@media screen and (max-width:600px){
    h2{
        font-size: 12px;
    }
    .galeriePhoto{
        width: 400px;
        justify-content: center;
    }

    .galeriePhoto1{
        max-width: 400px;
        max-height: 400px;
        text-align: center;
    }
    
    .photo1{
        max-width: 248px;
        max-height: 250px;
    }
    
    .photo2{
        max-width: 248px;
        max-height: 250px;
    }
    
    .galeriePhoto2{
        max-width: 600px;
        max-height: 500px;
        text-align: center;
    }
    
    .photo3{
        width: 250px;
        height: 200px;
    }
    
    .photo5{
        width: 250px;
        height: 200px;
    }
    
    .galeriePhoto3{
        max-width: 600px;
        max-height: 500px;
        text-align: center;
    }
    
    .photo4{
        max-width: 248px;
        max-height: 250px;
    }
    
    .photo6{
        max-width: 248px;
        max-height: 250px;
    }
    
    .galeriePhoto4{
        max-width: 600px;
        max-height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .galeriePhoto5{
        max-width: 600px;
    }
    
    .photo7{
        max-width: 248px;
        max-height: 250px;

    }
    
    .photo8{
        max-width: 248px;
        max-height: 250px;
    }

    .photo9{
        width: 248px;
    }
    
    .texteGaleriePhoto4-1{
        width: 398px;
    }
}

@media screen and (min-width:600px) and (max-width:767px){
    .texteGaleriePhoto4-3{
        display: none;
    }   

    .photo9{
        max-width: 148px;
    }
}

@media screen and (max-width:600px){
    .texteGaleriePhoto4-2{
        display: none;
    }   
}