.photosGal{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.galeriePhoto{
    display: flex;
    flex-direction: column;
    padding: 2px;
    background: #f1f1f1;
    border-radius: 10px;
}

h1 {
    color: rgba(86,96,111,1);
    text-align: center;
}

.photo{
    object-fit:cover;
    margin:2px;
    border-radius: 10px;
}

.galeriePhoto1{
    display: flex;
    justify-content: flex-end;
    max-width: 1006px;
    max-height: 500px;
}

.photo1{
    max-width: 498px;
    max-height: 500px;
}

.photo2{
    max-width: 498px;
    max-height: 500px;
}

.galeriePhoto2{
    display: flex;
    justify-content: center;
    max-width: 1006px;
    max-height: 500px;
}

.photo3{
    width: 300px;
    height: 400px;
}

.photo5{
    width: 698px;
    height: 400px;
}

.galeriePhoto3{
    display: flex;
    justify-content: center;
    max-width: 1006px;
    max-height: 500px;
}

.photo4{
    max-width: 499px;
    max-height: 500px;
}

.photo6{
    max-width: 499px;
    max-height: 500px;
}

.galeriePhoto4{
    display: flex;
    justify-content: center;
    max-width: 1006px;
    max-height: 500px;
}

.galeriePhoto5{
    display: flex;
    flex-direction: column;
}

.photo7{
    width: 700px;
    max-height: 245px;
}

.photo8{
    width: 700px;
    max-height: 245px;
}

.photo9{
    max-width: 298px;
    height: 498px;
}

.texteGaleriePhoto4{
    display: flex;
    justify-content: space-around;
}

.texteGaleriePhoto4-1{
    width: 700px;
}
.texteGaleriePhoto4-2{
    width: 298px;
}


