.gallery{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photos{
    display: flex;
    justify-content: center;
}

.gallery-image{
    height: 500px;
    width: 700px;
    object-fit:cover;
}

.fleche{
    display: flex;
    justify-content: center;
}

.arrow-left, .arrow-right {
    min-width: 20px;
    max-width: 40px;
}