.gallery{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photos{
    display: flex;
    justify-content: center;
}

.gallery-image{
    height: 500px;
    width: 700px;
    object-fit:cover;
}

.fleche{
    display: flex;
    justify-content: center;
    margin-top: -4px;
}

.arrow-left, .arrow-right {
    height: 50px;
    width: 100px;
}

.arrow-left {
    padding-right: 50px;
}
  
.arrow-right {
    padding-left: 50px;
}