.gallery{
}

.gallery-image{
    margin-top: 20px;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
}

.fleche{
    display: flex;
    justify-content: center;
}

.arrow-left, .arrow-right {
    min-width: 20px;
    max-width: 40px;
}